<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:32768/bookstore_db?useSSL=false</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">postgres</property>
        <property name="hbm2ddl.auto">update</property>

        <!-- JDBC connection pool settings -->
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">300</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>

        <property name="connection.pool_size">1</property>


        <!-- Mention annotated entity class packages -->
        <property name="show_sql">true</property>
        <mapping class="com.picsart.Book"/>
        <mapping class="com.picsart.Customer"/>
        <mapping class="com.picsart.Sale"/>
        <!-- Add other entity classes as needed -->
    </session-factory>
</hibernate-configuration>